<header class="header">
<nav class="navbar navbar-expand-md main_nav">
    <div class="logo m-l-20"><a><img src="assets/images/logo1.png" alt=""></a></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" 
  aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <i class="fa fa-bars"></i>
  </button>
  <div class="collapse items navbar-collapse offset" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/holy/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="literature">Literature</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="hotels">Hotels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shopping">Shopping</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/holy/visit">Visit Points</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/holy/about">About</a>
      </li>
    </ul>
  </div>
</nav>
</header>
<router-outlet></router-outlet>

<footer>
  <div class="container footer d-flex">


    <div class="fs-15">
      <h4>Contact</h4>

      <div>
        <div class="m-b-10">
          <i class="fa fa-phone"></i>
          <span class="p-l-10">+45 677 8993000 223</span>
        </div>
        <div class="m-b-10">
          <i class="fa fa-envelope"></i>
          <span class="p-l-10">office@template.com</span>
        </div>
        <div class="m-b-10">
          <i class="fa fa-map-marker"></i>
          <span class="p-l-10">Main Str. no 45-46, b3, 56832, Los Angeles, CA</span>
        </div>
      </div>
    </div>


    <div class="fabButton ml-auto">
      <h4 class="m-r-10 m-t-15">Like Us: </h4>

      <div class="mat-mini-fab c1">
        <i class="fab fa-facebook-f p-t-7 fs-20"></i>
      </div>
      <div class="mat-mini-fab c2">
        <i class="fab fa-twitter p-t-7 fs-20"></i>
      </div>
      <div class="mat-mini-fab c3">
        <i class="fab fa-google-plus-g p-t-7 fs-20"></i>
      </div>
    </div>


  </div>
</footer>

<div class="footer1">

  <p class="text-muted fs-15">&copy; 2015
    <a href="http://forbetterweb.com">Your Website</a>
    We
    <button mat-icon-button color="warn">
      <i class="fa fa-heart"></i>
    </button>
    <a href="http://forbetterweb.com">Code Design</a>
  </p>

</div>